@{
    ViewData["Title"] = "Nos salles de cours";
}


<style>
    .canvas {
        cursor: url('https://img.icons8.com/cute-clipart/32/000000/pencil.png'), auto;
        border: 1px solid #000000;
    }

    #shape {
        width: 100px;
        height: 100px;
        background-color: red;
        cursor: move;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Nos salles de cours</h1>

    <div class="wrap">
        <div class="card">
            <a asp-route-id="1" asp-controller="Boards">
                <img asp-route-id="1" asp-controller="Boards" height="200" width="200" src="~/img/inner_image_piano.jpg" />
            </a>
        </div>

        <div class="card">
            <a asp-route-id="2" asp-controller="Boards">
                <img height="200" width="200" src="~/img/inner_image_violin.jpg" />
            </a>
        </div>

        <div class="card">
            <a asp-route-id="3" asp-controller="Boards">
                <img height="200" width="200" src="~/img/inner_image_guitar.jpg" />
            </a>
        </div>
    </div>
</div>
